[submodule "entropy/kitty/kitty-themes"]
	path = entropy/kitty/kitty-themes
	url = git@github.com:dexpota/kitty-themes.git
[submodule "entropy/mail/neomutt/themes/powerline"]
	path = entropy/mail/neomutt/themes/powerline
	url = git@github.com:sheoak/neomutt-powerline-nerdfonts.git
[submodule "entropy/mail/neomutt/themes/dracula"]
	path = entropy/mail/neomutt/themes/dracula
	url = https://github.com/dracula/mutt.git
[submodule "tycho/mail/themes/powerline"]
	path = tycho/mail/themes/powerline
	url = git@github.com:sheoak/neomutt-powerline-nerdfonts.git
[submodule "tycho/mail/neomutt/themes"]
	path = tycho/mail/neomutt/themes
	url = git@github.com:sheoak/neomutt-powerline-nerdfonts.git
[submodule "entropy/mail/neomutt/mailsettings"]
	path = entropy/mail/neomutt/mailsettings
	url = git@code.dummyco.de:feliix42/mailsettings.git
